{% load i18n wagtailcore_tags %}
{% load static wagtailcore_tags wagtailuserbar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  </head>
  <body>
    <div class="flex-col page">
      <div class="flex-col self-stretch sc-section ">
        
        {% include 'home/header.html' %}
        <div class="innerbanner servicebanner">
        <div class=" w1400 center pt-150">
               
          <div class="self-stretch">
            <span class="font_20">
              SERVICES 
              <br /> <br />
            </span> 
            <span class="font_20 mt-31" style="font-size: 35px;margin-top: 10px;">
              服务
              <br />
            </span>
          </div>
          <div class="flex-col justify-start items-center self-start text-wrapper mt-31">
            <span class="font_4 text"><a href="#footer" style="color: white;">联系我们</a></span>
          </div>

          <!-- <div class="">
           <img src="{% static 'images/sf5.png' %}">
          </div> -->
        </div>
      </div>
      </div>
</div>


<div class="insection about_ingy1"  style="text-align: center; margin-top: 125px;">
  <span class="self-start text_356" >我们来到这里是为了创造一些新的东西</span> 
  <div  style="margin-top: 25px;">
    <span class="font_9 text_14">
      即使处在一个不确定和不断变化的世界中,消费者的品味不断变化,技术不断进步，
  </span>
    <br>
    <span class="font_9 text_14">
      政策制定不稳定,企业依然需要像以往一样快速适应和预测市场。
    </span> 
    <br>
    <span class="font_9 text_14">
      聚焦可持续创新发展,将香港打造成为“国际创科中心”
    </span> 
  </div>
</div>   
<div class="insection insr2">
 
</div>

<!-- 
<div class="insection insr3">
  
</div> -->
<div class="insection flex-row justify-between items-center self-stretch w1400 center ingy22">
  <img class="aboutimg4" src="{% static 'images/serviceimg4.png' %}" alt="产品交付" />
  <div class="flex-col group_3333">
    <div class="flex-col self-stretch">
      <span class="self-start text_356">产品交付</span>  
      <span class="text_222">围绕政府关系、投资者关系以及公共关系(GR+IR+PR)提供全方位的服务，</span>
      <div class="esg-report-s">
        <span style="height: 10px;">
          <p class="service-item">使公司的可持续发展目标与国家政策保持一致</p> 
          <p class="service-item">制定实现短期和长期目标的战略</p>  
          <p class="service-item">扩大企业知识库，并建立作为可持续发展创新者的信誉</p>  
          <p class="service-item">获得强大的洞察力，创造新产品或流程</p>
          <p class="service-item">量化企业、产品、员工和供应链之间的影响</p>
          <p class="service-item">领先一步，影响市场</p>
      </span>  
      </div> 
    </div> 
  </div> 
</div>
{% include 'home/footer.html' %}
  </body>
</html>